{
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": "2018"
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "valid-typeof": "error"
  }
}
